<%- include("partials/_header") -%>

    <h1>Profile</h1>
    <p>
        <%= name %>
    </p>
    <p>
        <%= email %>
    </p>

    <a href="/users/sign-out"><button type="submit">Sign out</button></a>

    <%- include("partials/_footer") -%>